.env
**/__pycache__/
**/chroma_db/
**/.mypy_cache/
**/.pytest_cache/
storage/upload/*
!storage/upload/.gitkeep
src/backend/debug_response.json
src/backend/temp.py
src/.mypy_cache/
src/frontend/node_modules/
diff.txt